* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  background-color: #F0F2F3;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}

label {
  margin-bottom: 8px;
}

input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #BDBEBE;
  padding: 8px;
  margin-bottom: 15px;
}

.Login_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 뷰포트의 높이 만큼 폼을 놓습니다. */
}

.Login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.Login_button {
  width: 500px;
  height: 40px;
  text-decoration: none; /* 밑줄 제거 */
}

.Login_button > button {
  width: 500px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #000;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}