* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  background-color: #fff;
}

h2 {
  padding: 10px;
  font-size: 20px;
}

h3 {
  padding: 0;
  font-size: 18px;
}

.Header_block {
  position: relative;
  width: 100%;
  height: 60px;
  padding-bottom: 12px;
  margin: 0 auto;
  border-bottom: 1px solid #BDBEBE;
  background-color: #F0F2F3;
}

.Profile {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 20px;
  font-size: 13px;
  background-color: #F0F2F3;
}

.Profile > span {

  font-weight: bold;
  background-color: #F0F2F3;
}

.Body_block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
}

.Left_block {
  width: 550px;
  padding: 20px;
  padding-right: 50px;
  background-color: #fff;
  border-right: 1px solid #C9C9C9;
}

ul {
  padding: 0;
}

.Class_list > li {
  position: relative;
  list-style: none;
  margin: 5px;
  margin-bottom: 10px;
  padding:15px;
  border-radius: 5px;
  border: 1px solid #C9C9C9;
  font-size: 16px;
  font-weight: 700;
}

.Class_list > li > span {
  position: absolute;
  right: 15px;
  color: #5A5A5A;
}

.Right_block {
  width: 550px;
  padding: 20px;
  padding-left: 50px;
  background-color: #fff;
}

.Class_block {
  margin-bottom: 15px;
}

.Class_block > div {
  position: relative;
  margin: 5px;
  margin-bottom: 20px;
  padding:15px;
  border-radius: 5px;
  border: 1px solid #C9C9C9;
  font-size: 16px;
}

.Class_block > div > span {
  position: absolute;
  right: 15px;
  font-weight: 700;
  color: #000;
}

.Current_block {
  display: flex;
}

.Log_block {
  width: 600px;
  margin: 0;
}

.List_block {
  margin: 0;
}